{# Extends vendor/symfony/twig-bridge/Resources/views/Form/form_div_layout.html.twig #}
{% use 'form_div_layout.html.twig' %}

{%- block form_error_summary -%}
    {% if form is not valid %}
    <div id="site-aria-alert" role="alert">
        <div class="govuk-error-summary rnib-error-summary" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title rnib-error-summary__title">
                There are {{ form_all_errors(form) | length }} problems with this request
            </h2>
            <div class="govuk-error-summary__body rnib-error-summary__body">
                <ul class="govuk-error-summary__list rnib-error-summary__list">
                    {% for error in form_all_errors(form) %}
                    <li><a href='#{{ error.id }}'>{{ error.message }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{%- endblock form_error_summary -%}

{#  Appears as error above each field #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {% for error in errors %}
            <span id="id_{{ id }}_error{{ loop.index }}" class="tbxforms-error-message">Error: {{ error.message }}</span>
        {% endfor %}
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_start -%}
    {% set attr = attr|merge({'class': 'tbxforms'}) %}
    {{- parent() -}}
{%- endblock form_start -%}

{%- block form_row -%}
    {% set row_attr = row_attr|merge({'class': 'tbxforms-form-group'}) %}
    {%- if errors|length > 0 -%}
        {% set class = row_attr.class ~  ' tbxforms-form-group--error' %}
        {% set row_attr = row_attr|merge({'class': class}) %}
    {%- endif -%}
    {{- parent() -}}
{%- endblock form_row -%}

{# Field rows become fieldsets on checkbox and radio buttons, so make the label the legend #}
{%- block form_label -%}
    {% if label is not same as(false) -%}
        {%- if compound -%}
            <legend><h2 class="rnib-form-label__wrapper">{{- block('form_label_content') -}}</h2></legend>
        {%- else -%}
            {% if not compound -%}
                {% set label_attr = label_attr|merge({for: id}) %}
            {%- endif -%}
            {% set label_attr = label_attr|merge({'class': 'rnib-form-label'}) %}
            <h2 class="rnib-form-label__wrapper">
                <label{% if label_attr %}{% with {attr: label_attr} %}{{ block('attributes') }}{% endwith %}{% endif %}>
                    {{- block('form_label_content') -}}
                </label>
            </h2>
        {%- endif -%}
    {%- endif -%}
{%- endblock form_label -%}

{% block checkbox_label %}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({for: id}) %}
        {%- endif -%}
        {% set label_attr = label_attr|merge({'class': 'tbxforms-label tbxforms-checkboxes__label'}) %}

        <label{% if label_attr %}{% with {attr: label_attr} %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {{- block('form_label_content') -}}
        </label>
    {%- endif -%}
{% endblock %}

{% block radio_label %}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({for: id}) %}
        {%- endif -%}
        {% set label_attr = label_attr|merge({'class': 'rnib-form-label rnib-form-label--option govuk-radios__label'}) %}

        <label{% if label_attr %}{% with {attr: label_attr} %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {{- block('form_label_content') -}}
        </label>
    {%- endif -%}
{% endblock %}

{% block form_help -%}
    {%- if help -%}
        <div id="id_{{ id }}_hint" class="rnib-form-hint">
            {{- block('form_help_content') -}}
        </div>
    {%- endif -%}
{%- endblock form_help %}

{# Adjust order of elements in form row #}
{%- block form_row_render -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {% if compound %}
            <fieldset class="tbxforms-fieldset">

        {% endif %}
        {{- form_label(form) -}}
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {% if compound %}
            </fieldset>
        {% endif %}
    </div>
{%- endblock form_row_render -%}

{% block checkbox_row %}
<div class="tbxforms-form-group">
    <div class="tbxforms-checkboxes">
        <div class="tbxforms-checkboxes__item">
            {{- form_widget(form, row_attr) -}}
            {{- form_label(form) -}}
        </div>
    </div>
</div>
{% endblock checkbox_row %}

{# Checkbox / Radio buttons #}
{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="{% if multiple %}tbxforms-checkboxes{% else %}govuk-radios{% endif %}">
            {%- for child in form %}
                <div class="{% if multiple %}tbxforms-checkboxes__item{% else %}govuk-radios__item{% endif %}">
                    {{- form_widget(child) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                </div>
            {% endfor -%}
        </div>
    </div>
{%- endblock choice_widget_expanded -%}

{%- block checkbox_widget -%}
    <input type="checkbox" class="tbxforms-checkboxes__input" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    <input type="radio" class="govuk-radios__input" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock radio_widget -%}

{# Add classes to input elements #}
{%- block form_widget_simple -%}
    {% set attr = attr|merge({'class': 'tbxforms-input'}) %}
    {%- if type == 'text' -%}
        {%- set attr = attr|merge({'class': 'tbxforms-input  tbxforms-input--text'}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple -%}

{%- block choice_widget_collapsed -%}
    {% set attr = attr|merge({'class': 'tbxforms-select'}) %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}
