{# Extends vendor/symfony/twig-bridge/Resources/views/Form/form_div_layout.html.twig #}
{% use 'form_div_layout.html.twig' %}

{%- block form_error_summary -%}
    {% if form is not valid %}
    <div id="site-aria-alert" role="alert">
        <div class="govuk-error-summary rnib-error-summary" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title rnib-error-summary__title">
                There are {{ form_all_errors(form) | length }} problems with this request
            </h2>
            <div class="govuk-error-summary__body rnib-error-summary__body">
                <ul class="govuk-error-summary__list rnib-error-summary__list">
                    {% for error in form_all_errors(form) %}
                    <li><a href='#{{ error.id }}'>{{ error.message }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{%- endblock form_error_summary -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_start -%}
    {% set attr = attr|merge({'class': 'tbxforms'}) %}
    {{- parent() -}}
{%- endblock form_start -%}

{%- block form_row -%}
    {% set row_attr = row_attr|merge({'class': 'tbxforms-form-group'}) %}
    {{- parent() -}}
{%- endblock form_row -%}
